/* Write your CSS here */
.container-header {
  background-color: #cbd5e1;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 26px;
  color: #475569;
  font-weight: 600;
  margin: 6px;
}
